@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.App {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  padding-top: 0.5em;
}

.header-main {
  padding: 0.9em;
}

#logo {
  font-family: 'Carter One', cursive;
  font-size: 2em;
  margin-top: -0.5em;
  padding-bottom: 1em;
}

#players {
  color: black;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2b1140;
  color: white;
  border: 2px solid #693791;
  border-radius: 2px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:nth-child(odd){background-color: #ddd;}

#players td {
  border: 1px solid #e8e8e8;
}

.pagination {
  margin: auto;
  width: 50%;
  padding-bottom: 70px;
}

#player-details {
  padding-top: 0;
  padding-bottom: 1em;
}

#player-image-box {
  margin-left: 4em;
  color: black;
  padding-left: 1em;
  padding-top: 1em;
  border-radius: 10px;
  border: 5px solid #1fa160;
  background-color: #fefefe;
}

#player-detail-box {
  color: black;
  border-radius: 10px;
  border: 5px solid #1fa160;
  background-color: #fefefe;
  margin-left: 4em;
}

#player-table {
  margin-top: 3em;
  border-collapse: collapse;
  width: 100%;
}

#player-table td {
  padding: 3px;
}

#player-table tr:nth-child(odd) {
  background-color: #ddd;
}

.comments {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid#f2f2f2;
}

#commentText {
  font: 18px Georgia, serif;
  border-bottom: 1px dotted #f2f2f2;
  padding-bottom: 30px;
}

.commentInput {
  padding-top: 25px;
  padding-bottom: 50px;
}
